.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.AppContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color:#31333b;
}




@media (max-width: 600px) {
  .AppContent {
    width: 100%;
  }


}


.AppContent h1{
  color:white;
  text-align: center;
  padding: 10px;
}

.AppContent .Paragraph{
  color:white;
  padding: 10px;
  text-align: justify;
}
