.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.AppContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  background-color:#31333b;
}

.AppContent h1{
  color:white;
}

.AppContent .Paragraph{
  color:white;
  padding: 10px;
  text-align: justify;
}
